.footer {
  background: #15141a;

  i {
    &.fa {
      font-size: 15px;
      padding: 20px;
      color: #444348;
      margin-top: 20px;

      &:hover {
        color: $lh-blue;
      }
    }

    &.active {
      color: $lh-blue;
    }
  }

  p {
    font-size: 14px;
    color: #444348;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;

    a {
      color: #444348;

      &:hover {
        color: $lh-blue;
      }
    }
  }
}