
.home {
  background: url(../../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-size: cover;

  h3 {
    font-size: 14px;
    color: $lh-blue;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 160px;
  }

  h1 {
    color: #ffffff;
    font-size: 46px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 1px;
  }

  p {
    font-size: 18px;
    color: $grey;
    margin-top: 25px;
    line-height: 26px;
    font-weight: 400;
    margin-right: 70px;
  }
}

.button-download {
  width: 160px;
  height: 50px;
  background: $lh-blue;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 4px;
  border: 0;
  margin-top: 60px;
  margin-right: 15px;
  font-weight: 600;
}

.button-feature {
  width: 160px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #444348;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  font-size: 14px;
  margin-top: 60px;
  margin-bottom: 105px;
  font-weight: 600;
}

.home-img {
  position: relative;
}

.home img {
  position: absolute;
  margin-top: 125px;
}

.features {
  img {
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }

  i.fa {
    font-size: 25px;
    color: $lh-blue;
    font-weight: 700;
    width: 100px;
    height: 100px;
    border: 1px solid #e1e1e1;
    line-height: 4;
    border-radius: 50%;
  }
  h2 {
    font-weight: 600;
  }

  h3 {
    font-size: 24px;
    color: $dark;
  }

  h4 {
    font-size: 14px;
    color: $lh-blue;
    text-transform: uppercase;
    margin-top: 65px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
    color: $grey;
    margin-bottom: 70px;
  }

  .icon {
    margin-top: 21px;
  }

  .icon-box {
    border: 1px solid #e1e1e1;
    border-radius: 100px;
    width: 75px;
    height: 75px;
    margin: 0 auto;
  }
}

.phone {
  margin-top: 50px;

  p {
    font-size: 18px;
    color: $grey;
    margin: 30px 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      font-size: 18px;
      color: #1b1b1b;

      i.fa {
        font-size: 20px;
        color: $lh-blue;
        height: 30px;
        width: 30px;
      }
    }
  }

  h4 {
    font-size: 14px;
    color: $lh-blue;
    text-transform: uppercase;
    margin-top: 65px;
    font-weight: 700;
  }
  h2 {
    font-weight: 600;
  }

  p {
    font-size: 18px;
    color: $grey;
    margin: 30px 0;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      font-size: 18px;
      color: #1b1b1b;
      list-style: none;
      font-family: $font;

      i.fa {
        font-size: 20px;
        color: $lh-blue;
        height: 30px;
        width: 30px;
      }
    }
  }
}

.second-phone {
  background: #f2f2f2;

  h4 {
    margin-top: 120px;
    font-size: 14px;
    color: $lh-blue;
    text-transform: uppercase;
    font-weight: 700;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    color: $grey;
    margin-top: 20px;
  }
}

.single-horizontal-phone img {
  margin: 30px 0;
}

.testimonials {
  background: url(../../images/testimonials-bg.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  -webkit-background-size: cover;
  background-size: cover;

  h2 {
    margin-bottom: 10px;
    color: #fff;
    font-weight: 600;
  }

  p {
    font-size: 24px;
    color: #fff;
    font-style: italic;
    font-weight: 300;
    margin-top: 60px;
    margin-bottom: 25px;
  }

  h4 {
    margin-top: 120px;
    font-size: 14px;
    color: $lh-blue;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.carousel-indicators li {
  margin-right: 20px;
  width: 8px;
  height: 8px;

  &.active {
    margin-right: 20px;
    width: 14px;
    height: 14px;
    margin-bottom: -2px;
  }
}

.item {
  img {
    float: left;
    margin-right: 20px;
    margin-bottom: 200px;
  }

  h5 {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 600;
  }

  h6 {
    font-size: 16px;
    color: #fff;
    padding-top: 12px;
  }
}

.download {
  background: #15141a;

  p {
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    padding: 65px 0;

    span {
      font-weight: 700;
    }
  }

  button {
    margin: 65px 0;

    &.button-download {
      margin-left: 15px;
    }
  }
}

.price-plan img {
  margin: auto;
  margin-bottom: 70px;
}

.single-table {
  border: 1px solid $light;
  margin-bottom: 60px;

  h3 {
    font-size: 24px;
    color: $dark;
    border-bottom: 1px solid $light;
    padding: 18px;
    line-height: 1;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

.table-price {
  position: relative;
  border-bottom: 1px solid $light;
  display: block;
}

.price-plan h4 {
  font-size: 14px;
  color: $lh-blue;
  text-transform: uppercase;
  margin-top: 65px;
  font-weight: 700;
}
.price-plan h2 {
  font-weight: 600;
}

.table-price {
  h5 {
    font-size: 60px;
    font-weight: 600;
    color: $dark;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 17px;

    span {
      position: absolute;
      font-size: 25px;
      top: 21%;
      left: 34%;
      font-weight: 600;
    }
  }

  p {
    font-size: 18px;
    color: $grey;
    line-height: 1;
    margin-bottom: 22px;
  }
}

.table-description {
  p {
    font-size: 18px;
    color: $grey;
    padding: 40px 20px;
    margin-bottom: 0;
  }

  a {
    color: $lh-blue;
    transition: all 0.5s ease 0s;
  }

  button {
    width: 160px;
    height: 50px;
    border: 1px solid $light;
    color: $lh-blue;
    border-radius: 4px;
    background: transparent;
    margin-bottom: 30px;
    font-weight: 700;
  }
}

.free h5 span {
  left: 39%;
}

.business h3 {
  color: $lh-blue;
}

.business-price {
  background: $lh-blue;

  p {
    color: #fff;
  }
}

.business {
  button {
    background: $lh-blue;
    color: #fff;
    border: 0;
  }

  h5 {
    color: #fff;
  }
}

.single-table:hover.single-table {
  h3 {
    color: $lh-blue;
  }

  .table-description button {
    background: $lh-blue;
    color: #fff;
    border: 0;
  }

  .table-price {
    background: $lh-blue;

    h5, p {
      color: #fff;
    }
  }
}

.contact {
  background: #ededed;
  position: relative;
  height: 700px;

  h4 {
    font-size: 14px;
    color: $lh-blue;
    text-transform: uppercase;
    margin-top: 65px;
    font-weight: 700;
  }
  h2 {
    font-weight: 600;
  }
}


